<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Zurby Store" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Zurby Store" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <div class='row'>
        <div class='small-8 columns'>
          <%= yield %>
        </div>
        <div class='small-4 columns'>
          <h2>WTF is a Zurby?</h2>
          <p>
            A Zurby (plural Zurbys or Zurbies) is an electronic robotic toy with a maniacal laughter resembling a freaky hamster or an owlish-like creature which went through a period of being a "must-have" toy following its launch in the holiday season of 1998, with continual sales until 2000. Over 40 million Zurbies were sold during the three years of its original production. Its speaking capabilities were translated into 24 languages. It has generated countless fan groups a-la-trekkies, and have spawned even political groups and religious cults in some isolated regions of Australia and the US.
          </p>
          <%= image_tag 'Furby_picture.jpg', alt:'freaky zurby'%>
        </div>
       </div>
    </main>
  </body>
</html>
